.orderPaper {
    margin: 0 auto;
    margin-bottom: 24px;
    height: 250px;
    width: 75%;
}

.openOrderPaper {
    margin: 0 auto;
    margin-bottom: 24px;
    height: 250px;
    width: 75%;
    background: rgb(86, 233, 201) !important;
}

.modalCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 680px;
    padding: 8px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

.wrapperItems {
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 16px;
}

.closeWrapperItems {
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 16px;
}

.wrapperItems::-webkit-scrollbar {
    width: 10px;
}

.wrapperItems::-webkit-scrollbar-thumb {
    background: rgb(32, 139, 112);
}

.wrapperItems::-webkit-scrollbar-button {
    display: block;
}

.closeWrapperItems::-webkit-scrollbar {
    width: 10px;
}

.closeWrapperItems::-webkit-scrollbar-thumb {
    background: rgb(32, 139, 112);
}

.closeWrapperItems::-webkit-scrollbar-button {
    display: block;
}

.shippingAddress {
    display: flex;
    align-items: center;
}

.closedShippingAddress {
    text-align: center;
    font-weight: bold;
    color: rgb(209, 46, 100);
}

.span {
    font-size: 10px;
}

.payment {
    margin-top: 16px;
    text-align: center;
}